.table-hover tbody tr:hover {
  background-color: #f0f4f8;
  transition: background-color 0.2s ease;
}

.text-primary {
  color: #003a6c !important;
}

.table-primary {
  background-color: #003a6c !important;
  color: white !important;
}

.bg-primary {
  background-color: #003a6c !important;
}

.turno-cell {
  padding: 8px 6px;
  font-size: 0.9rem;
  min-width: 140px; /* Evita que los nombres se vean muy apretados */
  white-space: pre-wrap; /* Permite que los nombres muy largos bajen a otra línea si es necesario */
}